<h2> <%= @task.title %></h2>
<p> <%= @task.description %></p>

<%= link_to "Edit this task?", edit_task_path(@task) %>
<%= link_to 'delete', task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Back to Tasks Manager", tasks_path %>
